/venv
/.idea
ml_package/data/
ml_package/pytorch/data/
ml_package/pytorch/deap_learning/data/
mainthread_package/co2/line_token.txt

# dataフォルダ以下はすべて無視
*data/
# 無視拡張子たち
*.exe
*.png
*.csv
*.pt
*.gz
*.log
*.txt